.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, darkorange, chocolate, teal, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}
.App-header {
  font-size: calc(14px + 2vmin);
  margin: 1.2rem;
}
.img-shield {
  margin: 1rem;
}
.card-buffer {
  margin: 2rem;
}
a {
  color: red;
}
.important {
  min-width: 80%;
}
.favicon {
  width:20px; 
  height:20px; 
}
