.App {
  text-align: center;
  background-image: radial-gradient(papayawhip, chocolate, teal, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}
.App-header {
  font-size: calc(14px + 2vmin);
  margin: 1.2rem;
}
.img-shield {
  margin: 1rem;
}
.card-buffer {
  margin: 2rem;
}
a {
  color: navy;
}
.important {
  min-width: 80%;
}
.favicon {
  width:20px; 
  height:20px; 
}
.nivochart {
  width:30vw; 
  height:320px;
  border: 9px solid black;
}
.nivocalendar {
  width:75vw; 
  height:60vh;
  border: 9px solid black;
}