.App {
  text-align: center;
  background-image: radial-gradient(whitesmoke, snow, #191970);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}
.App-header {
  margin: 1.2rem;
}
.img-shield {
  margin: 1rem;
}
.card-buffer {
  margin: 2rem;
}
a {
  color: navy;
}
.important {
  min-width: 80%;
}
.favicon {
  width:20px; 
  height:20px; 
}
.blk-frame {
  border: 9px solid black;
  margin-top: 1em;
}
.big-list {
  max-width: 85vw;
}
.list-group-item {
  margin-bottom: 4px;
}
.tiny-text {
  font-size: 11px;
}
.nivowaffle {
  width:30vw; 
  height:320px;
}
.nivogrowthpower {
  width:80vw; 
  height:3700px;
  background-image: linear-gradient(#444, silver, whitesmoke, azure  );
}
.nivopoptree {
  width:80vw; 
  height:380px;
}
.nivonoi {
  width:80vw; 
  height:360px;
}
.nivocalendar {
  width:75vw; 
  height:60vh;
}